PORT=
USER_MONGODB=
PASS_MONGODB=
URL_MONGODB=
TTL_ACCESS_TOKEN=
TTL_REFRESH_TOKEN=
TTL_BLACKLIST=
DISTRIBUTED_LOCK=
CLOUD_NAME=
API_KEY=
API_SECRET=
URL_RABBITMQ=
EMAIL_NODEMAILER=
PASS_NODEMAILER=
URL_MAIL_VERIFY=
REDIS_PORT=
REDIS_HOST=
REDIS_USERNAME=
REDIS_PASSWORD=
POOL_SIZE_MONGODB_DEV=
POOL_SIZE_MONGODB_PRODUCTION=
NODE_ENV=
WINDOW_MS_AUTH=
MAX_AUTH=
MESSAGE_AUTH=
WINDOW_MS_USER=
MAX_USER=
MESSAGE_USER=
REDIS_URL=
IS_SERVERLESS=
AWS_LAMBDA_FUNCTION_NAME=