services:
  backend:
    build: .
    depends_on:
      - redis
      - mongodb
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - URL_MONGODB=mongodb://mongodb:27017/YayNot

    ports:
      - 8888:8888

  redis:
    image: redis:8.0.2
    ports:
      - 6381:6379

  mongodb:
    image: mongo:8.0
    ports:
      - 27019:27017
